<div class="post" *ngIf="post">
  <h2>Post</h2>
  <h3>{{ post.title }}</h3>
  <p>{{ post.body }}</p>

  <div class="comments" *ngIf="postComments">
    <div *ngFor="let comment of postComments">
      <h6>{{ comment.name }} ({{ comment.email }})</h6>
      <p>{{ comment.body }}</p>
    </div>
  </div>
</div>


<div class="album" *ngIf="album">
  <h2>Album</h2>
  <h3>{{ album.title }}</h3>

  <p class="photos" *ngIf="albumsPhotos">
      <img *ngFor="let photo of albumsPhotos" alt="{{photo.title}}" src="{{photo.thumbnailUrl}}" align="left" />
  </p>
</div>

