<form #form1="ngForm" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <label class="control-label">Nombre</label>
    <input #nombre="ngModel" class="form-control" type="text" [(ngModel)]="modelo.nombre" name="nombre" required minlength="3" />
    <div *ngIf="nombre.invalid" class="alert alert-danger">
      <p *ngIf="nombre.errors.required">El nombre es requerido</p>
      <p *ngIf="nombre.errors.minlength">El nombre debe tener mas de 3 caracteres</p>
      <p *ngIf="nombre.errors.pattern">El nombre debe iniciar con A</p>
    </div>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <input type="checkbox" name="activo" [(ngModel)]="modelo.activo" /> Activo?
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">Sexo</label>
    <div class="radio">
      <input type="radio" value="M" name="sexo" [(ngModel)]="modelo.sexo" />
      <label>Masculino</label>
    </div>
    <div class="radio">
      <input type="radio" value="F" name="sexo" [(ngModel)]="modelo.sexo" />
      <label>Femenino</label>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">Departamento</label>
    <select class="form-control" name="departamento" [(ngModel)]="modelo.departamento">
      <option [value]="''">Seleccione</option>
      <option *ngFor="let depto of departamentos">{{ depto }}</option>
    </select>
  </div>

</form>

<div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="form1.invalid" >Crear</button>
  </div>
