<div class="row justify-content-center">
  <div class="col-10">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Datos generales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Datos específicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Mas información</a>
          </li>
        </ul>

      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
